.test-application {
    .title {
        top: 0;
        left: 0;
        height: 60px;

        h1 {
            text-align: center;
            background-color: var(--color-blue5);
            color: var(--color-white);
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }

    .main-navigation {
        background-color: var(--color-blue4);
        height: 40px;
        top: 60px;
        left: 0;

        .link-list {
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
        }
    }
}