<div class="test-application">
    <div class="title">
        <h1>ngx-window Test Application</h1>
    </div>
    <nav class="main-navigation">
        <ol class="link-list">
            <ngx-test-link class="drop-downs" [title]="'Drop downs'" [url]="'/drop-downs'"></ngx-test-link>
            <ngx-test-link class="resize-and-move" [title]="'Resize & Move'" [url]="'/resize-and-move'"></ngx-test-link>
            <ngx-test-link class="alignment" [title]="'Alignment'" [url]="'/alignment'"></ngx-test-link>
        </ol>
    </nav>
    <router-outlet class="main-content"></router-outlet>
</div>