.link {
    cursor: pointer;
    color: white;
    padding: 5px 10px;

    &:hover {
        color: var(--color-blue6);
    }

    &.active-link {
        background-color: var(--color-blue6);
        cursor: default;

        &:hover {
            color: white;
        }
    }
}