<div class="drop-down-page">
    <div class="box simple" title="Simple">
        <ngx-test-drop-down class="simple-drop-down" [title]="'Simple'">
            <div class="simple-content">This is a simple drop down with no content. Click outside to close.</div>
        </ngx-test-drop-down>
    </div>

    <div class="box close-from-within" title="Close from within">
        <ngx-test-drop-down class="close-from-within-drop-down" [title]="'Close from within'">
            <div class="close-from-within-content">Click the button below to close the dropdown.
                <button class="close-button" ngxWindowCloser (click)="onCloseWithinCloseButtonClick()">Close drop down</button>
            </div>
        </ngx-test-drop-down>
    </div>
</div>